.button {display:inline-block; max-width:16.25rem; text-align:center;}

.button_default {}

.button_primary {background:transparent; color:rgba(74,74,74,0.8); border:2px solid rgba(74,74,74,0.6);}

.button_heading {}

.button_inverse {background:transparent; color:#fff; border:2px solid #fff;}