.breadcrumbs {
  padding:0;
  list-style:none;
  margin-top:5px;
  margin-bottom: 15px;

  @media (min-width:678px) {
    margin-bottom: 30px;
  }

  li {display:inline-block;
    &.breadcrumb-extra {
      @media (max-width:425px){
        display:none;
      }
    }

    &:after{
      content: "»";
      margin: 0 6px 0 10px;
    }

    &:last-child {
      &:after{
        display:none;
      }
    }

    @media (max-width:425px){
      &:nth-child(2) {
        &:after{
          display:none;
        }
      }
    }
  }
}
