$__selector-height: 45px;

.selector {
  background: image-url("img/icons/caret_line.svg") no-repeat right 15px center #343434;
  border:none;
  display: block;
  height: $__selector-height;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @media (min-width: 678px){
    display:none;
  }
}

.selector select {
  appearance: none;
  background: transparent;
  border-radius: 0;
  border: none;
  color:#fff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  height: $__selector-height;
  letter-spacing: 1px;
  line-height: $__selector-height - (5px * 2);
  outline:none;
  padding: 5px 15px;
  text-align: left;
  width: 100%;

  &:focus {
    background: image-url("img/icons/caret_line.svg") no-repeat right 15px center #343434;
  }

  &:-moz-focusring,
  &::-moz-focus-inner { // hack to hide the mozilla-specific focus 'outline'
    color: transparent;
    text-shadow: 0 0 0 #fff; // NOTE: same as color above!
    border: 0;
  }

  @media(min-width:375px){
    font-size: 0.9375rem;
  }
}
