.tiles-wrapper {

  .container {padding:0;
    @media (min-width:677px) and (max-width:767px){
      padding:0 20px;
    }
    @media (min-width:768px) and (max-width:990px){
      padding:0 30px;
    }
    @media (min-width:988px){
      padding:0 60px;
    }
    @media (min-width:1552px){
      padding:0;
    }
  }
}

.content .tiles-wrapper .container {
  @media (min-width:1240px){
    padding:0;
  }
}
.tiles {
  .tile {border-top:1px solid #D9D9D9; padding:20px;
    @media(min-width:677px){border:1px solid #D9D9D9; padding:40px;}
    h3 {color: $colour_accent;}
    p {color: $colour_primary; margin:0;}
  }
}
