.heading_page {
  margin-top: 0;
  padding-bottom:2px;
  font-size: 1.875rem;
  font-weight: 400;
  color: #2C2C2C;
  margin-bottom:10px;
  @media(min-width:425px){
    margin-bottom:25px;
  }
}

.heading_subheading {
  font-size:1.375rem;
  color:#292929;
}
