/* Colour Palette*/
$colour-base: #525c65;
$colour-primary: #4a4a4a;
$colour-secondary: #f5a623;
$colour-section-alternate: #f4f4ef;
$white:#fff;
$colour-primary-light: rgba($colour-base, .3);
$colour-primary-med: rgba($colour-base, .8);
$table-lines: #d4d4cc;
