---
page_title: Sharesight Content Styleguide
page_classes: 'category'
page_description: 'Help pages for Sharesight'
---
<%= partial "partials/header" %>
<%= partial "partials/search" %>

<div class="container reveal">

  <%# partial "partials/left_menu" %>
  <div class="content">




    <section class="article">
      <div id="top" class="page blog_content" role="document">
          <header role="banner">
            <h1 class="sg-header">Help Site Article Styleguide</h1>
          <hr>
        </header>
          <nav role="navigation" class="sg-nav" style="font-size:20px;">
            <ul>
              <li>
                <a href="#text">Text</a>
                <ul>
                  <li>
                    <a href="#text__headings">Headings</a>
                  </li>
                  <li>
                    <a href="#text__paragraphs">Paragraphs</a>
                  </li>

                  <li>
                    <a href="#text__blockquotes">Blockquotes</a>
                  </li>
                  <li>
                    <a href="#text__alerts">Alerts</a>
                  </li>
                  <li>
                    <a href="#text__lists">Lists</a>
                  </li>
                  <li>
                    <a href="#text__tables">Tabular data</a>
                  </li>
                  <li>
                    <a href="#text__inline">Inline elements</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#embedded">Embedded content</a>
                <ul>
                  <li>
                    <a href="#embedded__images">Image with caption</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <main role="main">
            <section id="text">

              <article id="text__headings">
                <header>
                  <h2 class="sg-header">Headings</h2>
                  <a href="#top">[Top]</a>
                  <hr>
              </header>
                <div class="headings">
                  <h1>Heading 1</h1>
                  <h2>Heading 2</h2>
                  <h3>Heading 3</h3>
                  <h4>Heading 4</h4>
                  <h5>Heading 5</h5>
                  <h6>Heading 6</h6>
                </div>

              </article>
              <article id="text__paragraphs">
                <header>
                  <h2 class="sg-header">Paragraphs</h2>
                  <a href="#top">[Top]</a>
                  <hr>
              </header>
                <div>
                  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the
                    syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
                </div>

              </article>
              <article id="text__blockquotes">
                <header>
                  <h2 class="sg-header">Blockquotes</h2>
                  <a href="#top">[Top]</a>
                  <hr>
              </header>
                <div>
                  <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.</p>
                    <p>It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.</p>
                    <cite>
                      <a href="#!">Said no one, ever.</a>
                      <p>
                        Sharesight Customer since 2008
                      </p>
                    </cite>
                  </blockquote>
                </div>
                <% code("html", :line_numbers => true, :start_line => 1) do %>
                  <blockquote>
                    <p>
                      A block quotation (also known as a long quotation or extract) is a quotation in
                      a written document, that is set off from the main text as a paragraph, or block of text.
                    </p>

                    <p>It is typically distinguished visually using indentation and a different typeface or
                      smaller size quotation. It may or may not include a citation, usually placed at the bottom.
                    </p>

                    <cite>
                      <a href="#!">Said no one, ever.</a>
                      <p>
                        Sharesight Customer since 2008
                      </p>
                    </cite>

                  </blockquote>
                <% end %>
              </article>
              <article id="text__alerts">
                <header>
                  <h2 class="sg-header">Alerts</h2>
                <a href="#top">[Top]</a>
                <hr>
              </header>
              <p class="quote">
                Create predefined alert messages
              </p>
                <div>
                  <h3 class="sg-sub-heading">Alerts</h3>

                  <h1 class="alert success">Success! This alert box indicates a successful or positive action.</h1>
                  <h2 class="alert info">Success! This alert box indicates a successful or positive action.</h2>
                  <h3 class="alert warning">Success! This alert box indicates a successful or positive action.</h3>
                  <h4 class="alert danger">Success! This alert box indicates a successful or positive action.</h4>
                  <h5 class="alert success">Success! This alert box indicates a successful or positive action.</h5>
                  <h6 class="alert info">Success! This alert box indicates a successful or positive action.</h6>

                  <code>
                    <% code("html", :line_numbers => true, :start_line => 1) do %>
                    <h1 class="alert success">Success! This alert box indicates a successful or positive action.</h1>
                    <h2 class="alert info">Success! This alert box indicates a successful or positive action.</h2>
                    <h3 class="alert warning">Success! This alert box indicates a successful or positive action.</h3>
                    <h4 class="alert danger">Success! This alert box indicates a successful or positive action.</h4>
                    <h5 class="alert success">Success! This alert box indicates a successful or positive action.</h5>
                    <h6 class="alert info">Success! This alert box indicates a successful or positive action.</h6>

                    <% end %>
                  </code>
                </div>

              </article>

              <article id="text__lists">
                <header>
                  <h2 class="sg-header">Lists</h2>
                <a href="#top">[Top]</a>
                <hr>
              </header>
              <p class="quote">
                Lists include definition, numbered & bulleted lists.
              </p>
                <div>
                  <h3 class="sg-sub-heading">Definition list</h3>
                  <hr>
                  <dl>
                    <dt>Definition List Title</dt>
                    <dd>This is a definition list division.</dd>
                  </dl>
                  <dl>
                    <dt>Definition List Title</dt>
                    <dd>The Performance Report provides the performance of the holdings during the selected date range. Note that you must have held a holding as at the “announced on” date for it to be paid out to you.</dd>
                  </dl>
                  <h3 class="sg-sub-heading">Ordered List</h3>
                  <hr>
                  <ol>
                    <li>The Performance Report provides the performance of the holdings during the selected date range. Note that you must have held a holding as at the “announced on” date for it to be paid out to you.</li>
                    <li>The [Taxable Income Report] (http://help.sharesight.com.au/taxable_income) lists all dividend payments and interest payments received within the selected time period. It displays dividend and interest payments on the exact date the interest or dividend was paid or credited to the investor.</li>
                    <li>List Item 3</li>
                  </ol>
                  <h3 class="sg-sub-heading">Unordered List</h3>
                  <hr>
                  <ul>
                    <li>The Performance Report provides the performance of the holdings during the selected date range. Note that you must have held a holding as at the “announced on” date for it to be paid out to you.</li>
                    <li>The [Taxable Income Report] (http://help.sharesight.com.au/taxable_income) lists all dividend payments and interest payments received within the selected time period. It displays dividend and interest payments on the exact date the interest or dividend was paid or credited to the investor.</li>
                    <li>List Item 3</li>
                  </ul>
                </div>

              </article>

              <article id="text__tables">
                <header>
                  <h2 class="sg-header">Tabular data</h2>
                <a href="#top">Top</a>
                <hr>
              </header>

                <table>
                  <caption>Table Caption</caption>
                  <thead>
                    <tr>
                      <th>Heading 1</th>
                      <th>Heading 2</th>
                      <th>Heading 3</th>
                      <th>Heading 4</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                      <td>Cell 3</td>
                      <td>Cell 4</td>
                    </tr>
                    <tr>
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                      <td>Cell 3</td>
                      <td>Cell 4</td>
                    </tr>
                    <tr>
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                      <td>Cell 3</td>
                      <td>Cell 4</td>
                    </tr>
                    <tr>
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                      <td>Cell 3</td>
                      <td>Cell 4</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Footer 1</th>
                      <th>Footer 2</th>
                      <th>Footer 3</th>
                      <th>Footer 4</th>
                    </tr>
                  </tfoot>
                </table>
                <code>
                  <% code("html", :line_numbers => true, :start_line => 1) do %>
      <table>
        <caption>Table Caption</caption>
        <thead>
          <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
            <th>Heading 4</th>
            <th>Heading 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Footer 1</th>
            <th>Footer 2</th>
            <th>Footer 3</th>
            <th>Footer 4</th>
            <th>Footer 5</th>
          </tr>
        </tfoot>
      </table>
                  <% end %>
                </code>




              </article>
        <article id="text__inline">
          <header><h2 class="sg-header">Inline elements</h2><a href="#top">Top</a>
            <hr>
          </header>
          <div>
            <p><a href="#!">This is a text link</a>.</p>
            <p><strong>Strong is used to indicate strong importance.</strong></p>
            <p><em>This text has added emphasis.</em></p>
            <p>The <b>b element</b> is stylistically different text from normal text, without any special importance.</p>
            <p>The <i>i element</i> is text that is offset from the normal text.</p>
            <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>
            <p><del>This text is deleted</del> and <ins>This text is inserted</ins>.</p>
            <p><s>This text has a strikethrough</s>.</p>
            <p>Superscript<sup>®</sup>.</p>
            <p>Subscript for things like H<sub>2</sub>O.</p>
            <p><small>This small text is small for for fine print, etc.</small></p>
            <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
            <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q></p>
            <p><cite>This is a citation.</cite></p>
            <p>The <dfn>dfn element</dfn> indicates a definition.</p>
            <p>The <mark>mark element</mark> indicates a highlight.</p>
            <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var>.</p>
            <p>The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
          </div>
          <footer><p><a href="#top">[Top]</a></p></footer>
        </article>
      </section>

      <section id="embedded">
        <header><h2 class="sg-header">Embedded content</h2><a href="#top">Top</a>
          <hr>
        </header>
        <article id="embedded__images">
          <p class="quote">
            Embedded content includes images with captions, videos and other embedded media.
          </p>


          <h3 class="sg-sub-heading">Image with caption</h3>
          <hr>
          <figure>
            <img src="//images.contentful.com/91sm3pewxzag/4DVy3nsbZeyuiMKkS6UoWE/0a49974fb869dbd6eef2ae1a238ee4e4/screenshot_missing-dividends_performance.png" alt="Image alt text">
            <figcaption>Here is a caption for this image.</figcaption>
          </figure>
          <% code("html", :line_numbers => true, :start_line => 1) do %>
      <figure>
        <img src="https://sharesight.com/images/image.jpg" alt="Image alt text">
        <figcaption>Here is a caption for this image.</figcaption>
      </figure>
          <% end %>
        </article>
      </main>
      </div>
    </section>
  </div>

</div>
<script>
var refTab = document.getElementsByTagName('table');
var ttl;

if(refTab.length > 1) {
  for(var a = 0; a<refTab.length; a++){
    for (var i = 0; i<refTab[a].rows.length; i++) {
      var row = refTab[a].rows.item(i);
      for (var j = 0; j<row.cells.length; j++) {
        var col = row.cells.item(j);
        console(col.firstChild.innerText);
      }
    }
  }
} else {
  console.log('test')
}




</script>
<%= partial "partials/footer" %>
