---
page_title: Sharesight Article
page_classes: 'category page_search'
page_description: 'Help pages for Sharesight'
---
<%= partial "partials/header" %>
<%= partial "partials/search" %>

<div class="container reveal">

  <%= partial "partials/left_menu" %>
  <div class="content">

    <div>
      <header class="content-heading">
        <h2 class="heading heading_page">Search Results</h2>
        <h3 class="heading heading_subheading">30 Results for “Broker“</h3>
      </header>


      <section class="section-content">
        <a href="#"><h4>Importing your trade history directly from your broker</h4></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>

      <section class="section-content">
        <a href="#"><h4>Importing your trade history directly from your broker</h4></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>

      <a href="#" class="button button_primary">Older Articles</a>

    </div>
  </div>

</div>

<%= partial "partials/footer" %>